<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html>
<head>
	<title>Course Schedule</title>
	<link rel="stylesheet" type="text/css" href="static/css/syllabus.css" media="screen"/>
	<link rel="stylesheet" type="text/css" href="static/css/syllabus-print.css" media="print"/>
</head>

<body>

<h1>CIS 322 - Class Schedule</h1>

<table class="class-schedule">
  <thead>
  	<tr>
	  	<th>Week #</th>
  		<th>Monday</th>
  		<th>Topic Covered</th>
  		<th>Project</th>
  	</tr>
  </thead>
  <tbody>
  {% for entry in session.schedule %}
  {% if entry.now %}
  <tr class="now">
  {% else %}
  <tr>
  {% endif %}	   
    <td class="week">{{ entry.week }}</td>
    <td class="date">{{ entry.date }}</td>
    <td class="topic">{{ entry.topic }}</td>
    <td class="project">{{ entry.project }}</td>
  </tr>
  {% endfor %}
  </tbody>
</table>

</body>
</html>